<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bicelche"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bicelche.inicio"
            android:label="@string/app_name" >
            
            
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.bicelche.pesq"
            android:label="BicElche 2013" >
        </activity>
        <activity
            android:name="com.example.bicelche.principal"
            android:label="pesquisa" >
        </activity>
        <activity
            android:name="com.conection.web.envia1"
            android:label="pesquisa" >
        </activity>
        <activity
            android:name="com.conection.web.ConectionHttpClient"
            android:label="pesquisa" >
        </activity>
          <activity
            android:name="com.example.bicelche.fim"
            android:label="pesquisa" >
        </activity>
         <activity
            android:name="com.example.bicelche.devolver"
            android:label="BicElche" >
        </activity>
        <activity
            android:name="com.conection.web.envia2"
            android:label="BicElche" >
        </activity>
         <activity
            android:name="com.example.bicelche.login"
            android:label="BicElche" >
        </activity>
      
    </application>

</manifest>